[phases.setup]
nixPkgs = ["python312", "postgresql"]

[phases.install]
cmds = ["pip install -r backend/requirements.txt"]

[phases.build]
cmds = ["python backend/manage.py collectstatic --noinput"]

[start]
cmd = "cd backend && gunicorn data_ingestion.wsgi:application --bind 0.0.0.0:$PORT"
